<div class="row" id="mainRow">

    <div class="mb-3 col-12 col-sm-6 col-lg-4 col-xl-3">
        <div style="width: 18rem;" class="shadow card bg-dark mx-auto">
            <img src="https://cdn.britannica.com/52/4052-050-F21F0E60/Cambodia-map-features-locator.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-warning">Global</h5>
              <p class="card-text text-white">New Confirmed : <span class="text-info font-weight-bold">122</span> </p>
              <p class="card-text text-white">New Deaths : <span class="text-info font-weight-bold">0</span> </p>
              <p class="card-text text-white">New Recovered : <span class="text-info font-weight-bold">110</span> </p>
            </div>
        </div>
    </div>

</div>