<div class="mb-3 col-12 col-sm-6 col-lg-4 col-xl-3">
    <div style="width: 18rem;" class="shadow card bg-dark mx-auto animated bounceInUp">
        <img src="https://www.ippf.org/sites/default/files/styles/featured_image_crop_sm/public/2020-03/Screen%20Shot%202020-03-27%20at%2013.30.48.png?h=d6a8c78b&itok=Gme6cxV5" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-warning">Global</h5>
          <p class="card-text text-white">New Confirmed : <span class="text-info font-weight-bold">122</span> </p>
          <p class="card-text text-white">New Deaths : <span class="text-info font-weight-bold">0</span> </p>
          <p class="card-text text-white">New Recovered : <span class="text-info font-weight-bold">110</span> </p>
          <div class="text-right">
            <button type="button" class="btn btn-sm btn-outline-info waves-effect font-weight-bold" data-toggle="modal" data-target="#centralModalWarning">
              Full Report <i class="text-right fas fa-arrow-right animated rotateIn"></i>
            </button>
          </div>
        </div>
    </div>
  </div>